NODE_ENV=production
PORT=8000
MONGO_URI=mongodb://mongo:27017/minishop
JWT_SECRET_ACCESS=your_access_secret_here
JWT_SECRET_REFRESH=your_refresh_secret_here
MONGO_PORT=27017
MONGO_INITDB_DATABASE=minishop
